@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  color:rgb(113, 128, 150)
}
.form  input 
{
  padding: 0.5rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}
.w-48
{
  width:'48%'
}